.button{
    padding: 10px;
    text-align: left;
    button {
        border-radius: 10px;
        padding: 5px 30px 5px 30px;
    }
    svg {
        font-size: 25px;
        color: darkgrey;
    }

}


.button-primary{
        
}